body {
  border-top: 5px solid #c7b94f;
}

.row {
  padding-bottom: 3rem;
}

.lighthouse-list {
  margin-left: -1rem;
  margin-right: -1rem;
}

.item-wrapper {
  position: relative;
  display: inline-block;
  padding: 1rem;

  .glyphicon-info-sign, .glyphicon-link {
    position: absolute;
    right: 20px;
    top: 180px;
    padding: 0;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    color: #BBB;
    background-color: #000;

    &:hover {
      text-decoration: none;
      opacity: .5;
    }
  }

  .glyphicon-link {
    line-height: 22px;
    right: 48px;
  }

  img {
    display: block;
    height: 200px;

    border: 1px solid #161616;
  }

}

.popover {
  min-width: 200px;
  color: #1a1a1a;

  .popover-content a {
    margin-top: .5rem;
    display: block;
  }

}




