body {
  border-top: 5px solid #c7b94f;
}

.row {
  padding-bottom: 3rem;
}

.lighthouse-list {
  margin-left: -1rem;
  margin-right: -1rem;
}

.lighthouse-list img {
  padding: 1rem;
  height: 200px;
}

